﻿@model ClearSkyLettings.Models.Property

@{
    ViewData["Title"] = Model.Address;
}

<h1>View Property</h1>

<div>
    <h4>@Model.Address</h4>
    <hr />
    <img src="~/img/properties/@(Model.Id).jpg" class="img-fluid" alt="Image for @Model.Address" />
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyPrice)
        </dt>
        <dd class = "col-sm-10">
            £@Html.DisplayFor(model => model.MonthlyPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deposit)
        </dt>
        <dd class = "col-sm-10">
            £@Html.DisplayFor(model => model.Deposit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFurnished)
        </dt>
        <dd class="col-sm-10">
            @(Model.IsFurnished ? "Yes" : "No")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberBedrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberBedrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberBathrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberBathrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyType.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Enquiries" asp-action="Make" asp-route-id="@Model.Id">Enquire Now</a> |
    <a asp-action="Index">Back to List</a>
</div>
