﻿@model IEnumerable<ClearSkyLettings.Models.Property>

@{
    ViewData["Title"] = "Properties";
}

<h1>Properties</h1>

@if (Model.Count() < 1)
{
    <p>Unfortunately we do not have any properties available at the moment. Please check back later.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MonthlyPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deposit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsFurnished)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberBedrooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberBathrooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PropertyType.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <img src="~/img/properties/@(item.Id).jpg" class="img-thumbnail" alt="Image for @item.Address" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        £@Html.DisplayFor(modelItem => item.MonthlyPrice)
                    </td>
                    <td>
                        £@Html.DisplayFor(modelItem => item.Deposit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @(item.IsFurnished ? "Yes" : "No")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberBedrooms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberBathrooms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PropertyType.Name)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
