﻿@model ClearSkyLettings.Models.Enquiry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enquiry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="Properties" asp-action="Details" asp-route-id="@Model.PropertyId">
                @Html.DisplayFor(model => model.Property.Address)
            </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEnquired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEnquired)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to My Enquiries</a>
</div>
