﻿@model IEnumerable<ClearSkyLettings.Models.Enquiry>

@{
    ViewData["Title"] = "My Enquiries";
}

<h1>My Enquiries</h1>

@if (Model.Count() < 1)
{
    <p>You have not made any enquiries.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Property.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateEnquired)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEnquired)
                    </td>
                    <td>
                        <a asp-controller="Properties" asp-action="Details" asp-route-id="@item.PropertyId">View Property</a> |
                        <a asp-controller="Enquiries" asp-action="Details" asp-route-id="@item.Id">View Enquiry</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
