﻿@model ClearSkyLettings.Models.MakeEnquiryViewModel
@{
    ViewData["Title"] = "Make Enquiry";
}

<h1>Make Enquiry</h1>

<form asp-action="Make" method="post">
    <input type="hidden" class="form-control" asp-for="PropertyId" value="@Model.PropertyId" />

    <div class="form-group">
        <label for="email">Email address</label>
        <input id="email" type="email" class="form-control" asp-for="Email" placeholder="Enter your email address" />
    </div>
    
    <button type="submit" class="btn btn-primary">Enquire Now</button>
</form>